html, body {
    height: 100%;
    margin: 0;
    background-color: #8251BD;
}

/* Topbar */
h1 {
    margin: 0;
    font-family: 'minecraftia';
    color: #ffff;
    font-size: 18px;
    height: 25px;
    padding: 0;
}

a {
    text-decoration: none;
}

.topbar {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-left: 22px;
    padding-right: 32px;
    background-color: #8251BD;
    position: fixed;
    z-index: 101;
    width: -webkit-fill-available;
}

.topbar-right, .user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.div-search-box {
    position: relative;
    display: flex;
    align-items: center;
}

.search-text {
    padding-left: 25px;
    border: 0;
    height: 25px;
    border-style: solid;
    border-color: #ffff;
    border-radius: 70px;
    outline: none;
}

.icon {
    position: absolute;
}

.icon-x {
    right: 8px;
}

.icon-lupa {
    left: 4px;
}

.icon-cubo {
    width: 50px
}

.voltar-pagina {
    width: 40px;
    height: auto;
    position: relative;
    display: flex;
    top: 79px;
    left: 222px;
    z-index: 1;
}

/*Perfil do Usuário*/
.img-profile {
    width: 38px;
}
.img-profile-lvl {
    width: 82px;
}

/*Animações de Fundo*/
.animacao-um {
    max-width: 246px;
    max-height: 278px;
    width: auto;
    height: auto;
    position: fixed;
    display: flex;
    top: 55px;
    left: -25px;
}

.animacao-dois {
    max-width: 258px;
    max-height: 278px;
    width: auto;
    height: auto;
    position: fixed;
    display: flex;
    top: 463px;
    left: -56px;
}

.animacao-tres {
    max-width: 214px;
    max-height: 290px;
    width: auto;
    height: auto;
    position: fixed;
    display: flex;
    top: 54px;
    right: -44px;
}

.animacao-quatro {
    max-width: 258px;
    max-height: 287px;
    width: auto;
    height: auto;
    position: fixed;
    display: flex;
    top: 342px;
    right: 0;
}

.estrela-um {
    max-width: 65px;
    max-height: 278px;
    width: auto;
    height: auto;
    position: fixed;
    display: flex;
    top: 293px;
    left: 15px;
}

.estrela-dois {
    max-width: 67px;
    max-height: 278px;
    width: auto;
    height: auto;
    position: fixed;
    display: flex;
    top: 149px;
    left: 135px;
}

.estrela-tres {
    max-width: 87px;
    max-height: 278px;
    width: auto;
    height: auto;
    position: fixed;
    display: flex;
    top: 507px;
    left: 74px;
}

.estrela-quatro {
    max-width: 87px;
    max-height: 278px;
    width: auto;
    height: auto;
    position: fixed;
    display: flex;
    top: 507px;
    right: 62px;
}

.estrela-cinco {
    max-width: 63px;
    max-height: 278px;
    width: auto;
    height: auto;
    position: fixed;
    display: flex;
    top: 203px;
    right: 40px;
}


/*Jogo*/

#geral {
    background-color: #242121;
    font-size: 40px;
    font-family: 'chau-philomene';
    width: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 200px;
    padding: 0 80px 185px 80px;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 65%;
    margin-top: 100px;
}

.fundo {
    max-height: 411px;
    width: 100%;
    height: auto;
}

/*Descrição do Jogo*/
.titulo-jogo{
    display: flex;
    justify-content: space-between;
}

.nome-jogo {
    color: #ffffff;
    font-family: 'sans-bold';
    margin: 20px 0;
    font-size: 22px;
}

.descricao-jogo {
    color: #ffffff;
    font-family: 'sans-bold';
    font-size: 15px;
    text-align: justify;
}

.div-like-bookmark {
    display: flex;
    gap: 10px;
}

.icon-coracao, .icon-bookmark {
    width: 27px;
    cursor: pointer;
}

.bottom-jogo {
    display: flex;
    gap: 50px;
}

.bottom-jogo > div {
    width: 50%;
}

/*Tabela de Achievements*/

table {
    color: #ffffff;
    font-family: 'sans-bold';
    font-size: 15px;
    width: 100%;
    border: 1px solid;
    border-radius: 15px;
    margin: 20px 21px 0 0;
}

td, th {
    border-bottom: 1px solid #3e3e3e;
}

th {
    font-size: 20px;
}

td {
    font-size: 13px;
    padding: 4px 4px 4px 10px;
}

tr:last-child td {
    border: none;
}

/*Footer*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E1B5B;
    width: 100%;
    height: 255px;
    position: relative;
    margin-top: 100px;
}

.footer h3 {
    color: #ffffff;
    font-size: medium;
    z-index: 1;
    margin: 0;
    position: absolute;
    top: 154px;
    transform: translateX(64px);
}

.footer-animacao {
    height: 100%;
}

.grupo-icons {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 365px;
    top: 94px;
    transform: translateX(64px);
}

.personagem {
    height: 50%;
}

@font-face {
    font-family:'sans-bold';
    src: url('fontes/OpenSans-Bold.ttf');}